#signature-pad {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 300px;
  width: 100%;
}
.form-signature {
  max-width: 600px;
}
#root {
  max-width: 600px;
  min-width: 300px;
  width: 100%;
}

video {
  border-radius: 12px;
  display: block;
  height: 250px;
  max-width: 350px;
  object-fit: cover;
}
#camera-box {
  position: relative;
}

#capture-button {
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 85%;
  transform: translate(-50%, -50%);
}

#img1,
#img2 {
  object-fit: fill;
}

.logo-container {
  background-color: #000;
  border-radius: 12px;
  padding: 5px;
}
.logo-container img {
  border-radius: 12px;
}
label {
  font-size: 18px;
  font-weight: 600;
}

/* ////////////////////////////// */

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;
}

.modal-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
  max-width: 450px;
  min-height: 100px;
  min-width: 320px;
  padding: 20px 10px;
  position: relative;
  width: 100%;
}

.modal-header {
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.modal-header h3 {
  color: #1766dc;
  font-size: 18px;
  font-weight: 500;
}

.btn-close-modal {
  align-items: center;
  background: none repeat;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  font-weight: bolder;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 15px;
  transition: 0.3s ease all;
  width: 30px;
}
.btn-close-modal span {
  transition: 0.3s ease all;
}

.btn-close-modal:hover {
  background: #f2f2f2;
}
.btn-close-modal:hover span {
  scale: 1.1;
}

.modal-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-body p {
  color: #1766dc;
  font-size: 16px;
  font-weight: 500;
}
